@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
/* navbar css */
ul {
    list-style: none;
}

.active {
    color: #fc036b;
    text-decoration:overline;
    font-weight: bolder;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
    /* font-size: 20px; */
}

.col {
    color: black !important;
    font-weight: bold;
}

/* header css */
header {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/header-bg.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: aliceblue;
    text-align: center;
}

.header-content h2 {
    font-size: 4win;
}

.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7win;
    margin: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color:whitesmoke ;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    cursor: pointer;
    display: none;
}

/* ** Events css ** */
section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #14013f;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;justify-content: space-between;
}

.row .col .event-img {
    width: 500px;
    height: 300px;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: #14013f;
    margin: 20px auto;
}

p {
    color: #4a4a4a;
    padding: 0px 40px;
}

.event .ctn {
    margin-top: 30px;
}
/* mobile device compatible */
@media only screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        left: 30px;
        top: 30px;
        /* color: black; */
        font-weight: bold;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 60vh;
        justify-content: center;
        /* background: blanchedalmond; */
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
    }
    .nav-links li {
        margin: 30px auto; 
    }
}